body {
  font-family: Arial, Helvetica, sans-serif;
  color: #ececec;
  background: #353238;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 130%;
}

h1 {
  text-align: center;
}

blockquote {
  margin-left: 50px;
  width: 600px;
  border: 1px;
  border-color: #b4423d;
  border-style: solid;
  border-radius: 2px;
  background: #6c696e;
  font-style: italic;
  line-height: 150%;
  padding: 10px;
}

a {
  font-weight: bold;
  color: #b4423d;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: #8c3330;
}

hr {
  color: #642522;
  height: 1px;
}

.quote-author {
  text-align: right;
}